body,p,div {
	font-size: 15px;
}
/** nav  导航 */
.container_right {
	/*padding-right: 100px !important;*/
}
/** 中部 menu */
.main {
	/*background-color: #ccc;*/
	
}
.menu {
}
.menu .container a {
	color: #a6a5ad;
}
.menu_class {
	width: 80px;
	height: 80px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	margin-left: 12px;
	margin-right: 12px;
}
/** 底部 */
.footer_css {
	width: 100%;
	padding-top: 28px;
	padding-bottom: 28px;
	position: fixed;
	bottom: 0;
	color: #999;
	background-color: #333333;
	font-size: 12px;
}
.footer_css a {
	color: #999;
}
.beian {
	margin: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

/**  menu images */
.index_css {
	background: url("../../imgs/index_out.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.order_css {
	background: url("../../imgs/order.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.price_css {
	background: url("../../imgs/price.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.pages_css {
	background: url("../../imgs/pages.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.shop_css {
	background: url("../../imgs/shop.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.brand_css {
	background: url("../../imgs/brand.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.personnel_css {
	background: url("../../imgs/personnel.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.account_css {
	background: url("../../imgs/account.png") no-repeat center 1px;
	background-size: 58px 58px;
}
.datatable_css {
	background: url("../../imgs/datatable.png") no-repeat center 1px;
	background-size: 58px 58px;
}